<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>tdef index</title>

<style>
  td { border: solid 0.1rem #ddd; }
</style>
	
</head>
<body>
  <h1>tdef index</h1>

  <a href="/dbm/tdef/new">新規登録</a>

	<table>
		<tr>
			<th>id</th>
			<th>pname</th>
      <th></th>
		</tr>
		<tbody>
			<tr th:each="tdef : ${tdefs}">
				<td>[[ ${tdef.id} ]]</td>
				<td>[[ ${tdef.pname} ]]</td>
        <td><a th:href="@{/dbm/tdef/{id}/edit(id=${tdef.id})}">編集</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>
