<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>Thymeleaf sample</title>
</head>
<body>

    <h1>text</h1>

<p th:text="'hoge'"></p>
<p th:text="${foo}"></p>
<p>[[${foo}]]</p>

    リテラル置換: <span th:text="|a_${foo}_b|"></span>

    <br />
    LocalDateTime: <span th:text="${now}|"></span>

    <h1>list iteration</h1>

<ul>
    <li th:each="item : ${items}">[[${item.id}]]: [[${item.name}]]</li>
</ul>

</body>
</html>
